{% extends "layout.html" %}

{% block title %}
    Hey! Welcome!
{% endblock %}

{% block main %}
<img class='img-thumbnail' src='https://i.imgur.com/sRaEtcG_d.webp?maxwidth=728&fidelity=grand'>
Ok, {{ session.first }}.
Long story short, just go to the navigation bar and post something or browse others' posts. 
There, topright corner, your name, help page and your account info. Wait nO DoN't lOg OuT yettttttt

Right, if you want to sell or buy stuff. 
Post -> Sell Listing. Tell people about what book are you selling. For what form, what subject, and a catchy interesting title. 
(Secret: don't just Cheap Books For Sale like what I put for you lol, use words from <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>this</a>)
Yes, your Spreadsheet link :) and contact info. There.

Or if you're not the type to write and advertise(and compete against other posts).
Just go to Seller Listings or Buyer Requests to see if anyone has the book you're looking for or wants the book you are selling .
Press View for the description and details, and the link to the post. Save posts for later is possible too.
The booklists are where you can check the coming year's booklists so you can know if it is possible to be bought lol.
Then in Search(I haven't made it lol), you can ... uh idk cuz i'm gonna make it a search box in the pages.

So, My Account, you can change your username and other information as well. And In help, you find my contact and FAQs. 
Then I guess, you're good to go. <a href="/">Homepage</a>(Idk what to put in there lmao)
What, no? Please do tell me what can be improved. Or just rant yes welcome.
(I need contributors :D Pleaseeeee no coding required)
{% endblock %}
