{% extends "layout.html" %}
{% block title %}
    Account
{% endblock %}

{% block main %}
    <h4> My account</h4>
    <table class="table names">
        <form action='/account' method='POST' style='display: inline;'class="form-group">
        <tr>
            <th>ID:</th>
            <td>
                {{ session.user_id }}
            </td>
            <td></td>
        </tr>
        <tr>
            <th>First Name:</th>
            <td display='inline'>
                <input autocomplete="off" autofocus class="form-control" name="first" value="{{ session.first }}" type="text">
            </td>
            <td></td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td><input autocomplete="off" autofocus class="form-control" name="last" value="{{ session.last }}" type="text">
            </td>
            <td></td>
        </tr>
        {% if session.number %}
        <tr>
            <th>Class:</th>
            <td><input autocomplete="off" autofocus class="form-control" name="class" value="{{ session.class }}" type="text">
            </td>
            <td></td>
        </tr>
        <tr>
            <th>Number:</th>
            <td><input autocomplete="off" autofocus class="form-control" name="number" value="{{ session.number }}" type="text">
            </td>
            <td></td>
        </tr>
        {% endif %}
        <tr>
            <th>Username:</th>
            <td>
                <input autocomplete="off" autofocus class="form-control" name="changeun" id='u' onkeyup='d1("#u")'  value="{{ session.username }}" type="text">
            </td>
        </tr></table>
        <div id='nc'>
            <button id='submit' class="btn button-normal btn-warning" style='display: inline;' type="submit" >Change</button>
            <a class="btn button-normal btn-secondary" style='display: inline;' href='/account' >Cancel</a>
        </div>
    </form ><br><br><br>
    <table class="table pass">
        <form action='/account' method='POST' style='display: inline;'class="form-group">
        <tr>
            <th>Password:</th>
            <td>{{ stars }}</td>
            <td>
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input autocomplete="off" autofocus class="form-control" name="old" id='o' placeholder="Old password" type="password">
            </td>
        </tr>
        <tr>
            <th>
            </th>
            <td><input autocomplete="off" autofocus class="form-control" name="changepw" id='p' placeholder="New password" type="password">
            </td>
        </tr>
        <tr>
            <th></th>
            <td  border="none"><input autocomplete="off" autofocus class="form-control" name="changepw2" id='p2' placeholder="Confirm new password" type="password">
            </td>
        </tr>

    </table>
    <div>
    <button id='submitp' class="btn button-normal btn-warning" type="submit" style='display: inline;' >Change</button>
    <a class="btn button-normal btn-secondary"  href='/account' >Cancel</a>
    </form></div>
    <script>
        document.querySelector("#submitp").onclick = function (){
            if (document.querySelector("#o").value === '' || document.querySelector("#p").value === '' || document.querySelector("#p2").value === ''){

            alert("Please fill in all 3 ._.");
                return false;
            }
            if (document.querySelector("#p").value !== document.querySelector("#p2").value){
                alert("Passwords don't match @_@");
                return false;
            }
            if (document.querySelector("#p").value !== document.querySelector("#p2").value){
                alert("Password has to be at least 8 characters :0.");
                return false;

            }
        }
    </script>
    <script>
        window.onscroll = function () { myFunction() };
    
        var nav = document.getElementById("navbar");
        var sticky = nav.offsetTop;
    
        function myFunction() {
            if (window.pageYOffset > sticky) {
                nav.classList.add("sticky");
            } else {
                nav.classList.remove("sticky");
            }
        }
    </script>
{% endblock %}