{% extends "layout.html" %}

{% block title %}
    Current Booklists 2020-2021
    <h4>(from Swindon online ordering system)</h4>
{% endblock %}

{% block main %}
<div class='text'>
    <a href='https://textbook.swindonbooks.com/Default/Default?org=MCS&course=F1' target='_blank'>F1</a>
    <a href='https://textbook.swindonbooks.com/Default/Default?org=MCS&course=F2' target='_blank'>F2</a>
    <a href='https://textbook.swindonbooks.com/Default/Default?org=MCS&course=F3' target='_blank'>F3</a>
    <a href='https://textbook.swindonbooks.com/Default/Default?org=MCS&course=F4' target='_blank'>F4</a>
    <a href='https://textbook.swindonbooks.com/Default/Default?org=MCS&course=F5' target='_blank'>F5</a>
    <a href='https://textbook.swindonbooks.com/Default/Default?org=MCS&course=F6' target='_blank'>F6</a>
</div>


{% endblock %}