<!DOCTYPE html>

<html lang="en">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
        integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
    <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

    <!-- icon i drew :) -->
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="icon" href="/static/favicon.ico">
    <link href="/static/styles.css" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="/static/script.js"></script>
    <title>MCS BOOK SALE</title>

</head>

<body>
    <nav class="navbar navbar-expand-md navbar-light" style='border-bottom: 4px solid #D7D7D6;
    background-color: #F7F4F3;'>
              <img src='/static/fav.gif' style='height: 4vw;  ' class='img-fluid'><a class="navbar-brand" href="/">MCS Book Sale</a>
              <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                  <span class="navbar-toggler-icon" ></span>
              </button>
              <div class="collapse navbar-collapse" id="navbar">
                  {% if session.user_id %}
                      <ul class="navbar-nav mr-auto mt-2" >
                        <li class='nav-item nav-link' style='padding-left:18px;padding-right:18px;' ><div class="dropdown">
                        <div class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Post
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/post/buy">Buying Request</a>
                          <a class="dropdown-item" href="/post/sell">Selling Listing</a>
                        </div>
                      </div></li>
                      <li class='nav-item nav-link' style='padding-left:18px;padding-right:18px; ' ><div class="dropdown">
                        <div class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Browse
                        </div>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="/posts/sellers">Seller Listings</a>
                          <a class="dropdown-item" href="/posts/buyers">Buyer Requests</a>
                          <a class="dropdown-item" href="/posts/{{ session.username }}">Your Posts</a>
                        </div>
                      </div></li>
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/posts/saved">Saved Posts</a></li>
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/booklists">Booklists</a></li>
                      </ul>
                      <ul class="navbar-nav ml-auto mt-2">
                          <li class="pure-menu-link navbar-text" style='padding-left:18px;padding-right:18px; color: #1688B6'id="name">Hi, {{ session.first }}!</li>
                          
                          <li class='nav-item nav-link' style='padding-left:18px;padding-right:18px;'><div class="dropdown">
                            <div class="dropdown-toggle" href="/help" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Help
                            </div>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="/help#">Contact</a>
                              <a class="dropdown-item" href="/help#faq">FAQ</a>
                              <a class='dropdown-item' href="/welcome">Welcome page</a>
                            </div>
                          </div></li>
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/account">Account</a></li>
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/logout">Log Out</a></li>
                      </ul>
                  {% else %}
                      <ul class="navbar-nav ml-auto mt-2">
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/help">Help</a></li>
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/register">Register</a></li>
                          <li class="nav-item"><a class="nav-link pure-menu-link" style='padding-left:18px;padding-right:18px;' href="/login">Log In</a></li>
                      </ul>
                  {% endif %}
  
              </div>
          </nav>
    <!--{% if session.user_id %}
        <button><img href='/static/arrow.jpg' style="background-color: none; height:auto; width:auto;"></button>
        {% endif %} -->
    {% if get_flashed_messages() %}
    <header>
        <div class="alert alert-warning border text-center" role="alert">
            {{ get_flashed_messages() | join(" ") }}
        </div>
    </header>
    {% endif %}

    <main class="container p-5">
        <h1>{% block title %}{% endblock %}</h1>
        {% block main %}{% endblock %}
    </main>

    <footer class="small text-center muted" style="color: #3F403A; padding-bottom: 5vh">
        Styled using <a href="https://bootswatch.com/">Bootswatch themes</a> with <a
            href="https://getbootstrap.com/">Bootstrap </a>. Colors by <a href="https://coolors.co/">Coolors.co.</a>
    </footer>
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="/__/firebase/7.17.2/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="/__/firebase/7.17.2/firebase-analytics.js"></script>

<!-- Initialize Firebase -->
<script src="/__/firebase/init.js"></script>
</body>

</html>