{% extends "layout.html" %}

{% block title %}
    Post
{% endblock %}

{% block main %}
    {% if bos == 'buy' %}
    <a href='/post/buy' class='nav-link nav-item  pure-menu-link' style='display:inline; border-left:none; color:black' active>Buy</a>
    <a href='/post/sell' class='nav-link nav-item  pure-menu-link' style='display:inline; color:gray'>Sell</a>
    <br><br>
    <h4>Post your books for sale</h4>
    {% else %}
    <a href='/post/buy' class='nav-link nav-item  pure-menu-link' style=' display:inline; border-left:none;'>Buy</a>
    <a href='/post/sell' class='nav-link nav-item  pure-menu-link' style=' display:inline; padding-left: 10px; color:rgb(0, 0, 0)'>Sell</a>
    <br><br>
    <h4>Post your books for sale</h4>
    {% endif %}
    <form action="/post/{{ bos }}" method="post" class="pure-form form-group">
        <table class='table table-sm'  style='text-align: left'>
            <div id='form'>
            <tr>
                <th>
                    Form:
                </th>
                <td><input type='checkbox' name='form' value='1'>1</td>
                <td><input type='checkbox' name='form' value='2'>2</td>
                <td><input type='checkbox' name='form' value='3'>3</td>
                <td><input type='checkbox' name='form' value='4'>4</td>
                <td><input type='checkbox' name='form' value='5'>5</td>
                <td><input type='checkbox' name='form' value='6'>6</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr><tr></div>
            <div id='subject'>
                <th>
                    Subject:
                </th>
                <td><input type='checkbox' name='subject' value='Chinese'>Chinese</td>
                <td><input type='checkbox' name='subject' value='English'>English</td>
                <td><input type='checkbox' name='subject' value='Math'>Math</td>
                <td><input type='checkbox' name='subject' value='JS'>JS</td>
                <td><input type='checkbox' name='subject' value='History'>History</td>
                <td><input type='checkbox' name='subject' value='Music'>Music</td>
                <td><input type='checkbox' name='subject' value='Lit. in Eng.'>Lit. in Eng.</td><td><input type='checkbox' value='Chi. Hist.'>Chi. Hist.</td>
                <td><input type='checkbox' name='subject' value='EPA'>EPA</td>
                <td></td></tr>
                <td></td>
                <td><input type='checkbox' name='subject' value='Geography'>Geography</td>
                <td>
                <input type='checkbox' name='subject' value='Physics'>Physics</td>
                <td>
                <input type='checkbox' name='subject' value='Chemistry'>Chemistry</td>
                <td><input type='checkbox' name='subject' value='Biology'>Biology</td>
                <td><input type='checkbox' name='subject' value='ICT'>ICT</td>
                <td><input type='checkbox' name='subject' value='Economics'>Economics</td>
                <td><input type='checkbox' name='subject' value='BAFS'>BAFS<td><input type='checkbox' name='subject' value='LS'>LS</td>
                <td><input type='checkbox' name='subject' value='M1'>M1</td><td><input type='checkbox' name='subject' value='M2'>M2</td></div>
            </tr>
        </table>
        <div class="form-group">
            <input autocomplete="off" id="title" autofocus type="text" class="form-control" name='title' placeholder="A Catchy title" required {% if bos == 'sell' %}value="Cheap books for sale"{% else %}value="Anyone selling"{% endif %} />
            <textarea id="description" autocomplete="off" autofocus rows='10' class="form-control" name='description' placeholder="Description(optional)/Book name?"></textarea><br><br>
            <input autocomplete="off" id="link" autofocus type="url" class="form-control" name='link' placeholder="Link to Spreadsheet(if any)" />
            <input autocomplete="off" id="contact" autofocus type="text" class="form-control" name='contact' placeholder="Contact info" value='Email:{{ id }}' required />
            <br>
            <br>
            <button type="submit" id="submit" class="btn btn-success"  style="background-color: #1678ff" >Post</button>
    </form>
{% endblock %}