{% extends "layout.html" %}

{% block title %}
    Seller Listings<form action="/sort" method="POST" style='display:inline; padding:3px;'>
                <select name='sort' class="form-control" id='hist' style='font-size: 70%; height:3%; width:18%;' onchange="this.form.submit()">
                    <option name='page' style='font-style:bold;'disabled selected value='sellers'>Sorting</option>
                    <option value='ASC'>Recents first</option>
					<option value='DESC'>Oldests first</option>
					
                </select>
    <form action='/entries'></form>
        </form>
{% endblock %}

{% block main %}

    <table class="table table-bordered" style="border-collapse:collapse; background-color: #ffffff46">
	    <thead>
	        <tr id='Header' style='background-color: #b4dbff46'>
	            <th>Form</th>
	            <th>Subject(s)</th>
	            <th>Title</th>
	            <th>Link</th>
	            <th>Seller</th>
				<th>Contact</th>
				<th colspan="2"></th>
	        </tr>
	    </thead>
	    <tbody>

            {% for row in table %}
    		<tr>
	            <td>{{ row['form'] }}</td>
	            <td>{{ row['subject'] }}</td>
	            <td>{{ row['title'] }}</td>
	            <td><a href='{{ row["link"] }}'>{{ row["link"] }}</a></td>
	            <td>{{ row['seller'] }}</td>
				<td>{{ row['contact'] }}</td>
				<td><button class='btn btn-outline-primary' href='/posts/{{ row["postid"] }}'>View</button></td>
				<td><button class='btn btn-outline-warning btn-toolbar'>Save</button></td>
	        </tr>
            {% endfor %}
	    </tbody>
	</table>

	<script>
		window.onscroll = function () { myFunction() };
	
		var nav = document.getElementById("nav");
		var sticky = nav.offsetTop;
	
		function myFunction() {
			if (window.pageYOffset > sticky) {
				nav.classList.add("sticky");
			} else {
				nav.classList.remove("sticky");
			}
		}
	</script>
{% endblock %}