{% extends "layout.html" %}

{% block title %}
    Hey! Welcome!
{% endblock %}

{% block main %}

<img class='img-fluid' src='https://i.imgur.com/sRaEtcG_d.webp?maxwidth=728&fidelity=grand'><br><br>
<div style=" padding:5px; border: 1.5px solid orange; float:center; ">Ok, {{ session.first }}.<br>
Long story short, just go to the navigation bar and post something or browse others' posts. <br>
There, topright corner, your name, help page and your account info. <strong>WAiT nO DoN't lOg OuT yettttttt</strong></div><div class='text'>
<h4>Let me walk you through posting. 
    <a href='/post/sell'>Sell </a><a href='/post/buy'> Buy</a></h4>
Right, if you want to sell or buy stuff. 
<img class='img-fluid' src='/static/post.png'>
<label class='text-muted small text-center muted' for="img">Post->Sell Listing or Buy Request</label> 
Sell Listing. Tell people about what book are you selling. For what form, what subject, and a catchy interesting title. 

<blockquote class='figure-caption'>(Secret: don't just Cheap Books For Sale like what I put for you lol, use words from <a href='https://www.youtube.com/watch?v=dQw4w9WgXcQ'>this</a>)
</blockquote>
Yes, your Spreadsheet link :) and contact info. There.

Or if you're not the type to write and advertise(and compete against other posts).
<img class='img-fluid' src='/static/browse.png'>
Just go to Seller Listings or Buyer Requests to see if anyone has the book you're looking for or wants the book you are selling .
Press View for the description and details, and the link to the post. Save posts for later is possible too.
The booklists are where you can check the coming year's booklists so you can know if it is possible to be bought lol.
Then in Search(I haven't made it lol), you can ... uh idk cuz i'm gonna make it a search box in the pages.

So, My Account, you can change your username and other information as well. And In help, you find my contact and FAQs. 
Then I guess, you're good to go. <a href="/">Homepage</a>(Idk what to put in there lmao)
What, no? Please do tell me what can be improved. Or just rant yes welcome.
(I need contributors :D Pleaseeeee no coding required)</div>
{% endblock %}
